[Unit]
Description=CoreOS DigitalOcean Network Agent
DefaultDependencies=false
Before=initrd.target
After=systemd-networkd.service initrd-root-fs.target
Wants=systemd-networkd.service initrd-root-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/coreos-metadata --cmdline --network-units=/run/systemd/network/ --hostname=/sysroot/etc/hostname
