[Unit]
Description=Ignition (files)
DefaultDependencies=false

# Ignition files stage starts after partitioning is completed.
Requires=initrd-root-fs.target
After=initrd-root-fs.target

# Network may be required to fetch userdata content.
After=network.target

Requires=ignition-remount-sysroot.service
After=ignition-remount-sysroot.service
Requires=ignition-remount-sysroot-var.service
After=ignition-remount-sysroot-var.service

After=ostree-prepare-root.service
After=initrd-switch-root.target
Before=initrd-switch-root.service

## NOTE(lucab): this was the original order in CL. This stage now runs
##  after initrd-cleanup, and some behavior may be subtly different.

#Before=initrd-parse-etc.service
# setup the root filesystem before we try do things like create users on it.
#Requires=initrd-setup-root.service
#After=initrd-setup-root.service
# generate resolv.conf
#Wants=systemd-resolved.service
#After=systemd-resolved.service

[Service]
Type=oneshot
EnvironmentFile=/run/ignition.env
ExecStart=/usr/bin/ignition --root=/sysroot --oem=${OEM_ID} --stage=files --log-to-stdout
