[Unit]
Description=Ignition (record completion)
DefaultDependencies=false
#Before=initrd.target

#Requires=ignition-disks.service
#After=ignition-disks.service

Requires=ignition-files.service
After=ignition-files.service

#Requires=sysroot-boot.service
#After=sysroot-boot.service

[Service]
Type=oneshot
# We will only run if GRUB detected this file. Fail if we are unable to
# remove it, rather than risking rerunning Ignition at next boot.
ExecStart=/bin/rm /sysroot/coreos_first_boot
