[Unit]
Description=Ignition (files)
DefaultDependencies=false
Before=initrd-parse-etc.service
ConditionPathExists=/sysroot/coreos_first_boot

Requires=initrd-root-fs.target
After=initrd-root-fs.target

#Requires=ignition-setup.service ignition-disks.service
#After=ignition-setup.service ignition-disks.service

Requires=remount-sysroot.service
After=remount-sysroot.service

# setup the root filesystem before we try do things like create users on it.
#Requires=initrd-setup-root.service
#After=initrd-setup-root.service

# setup networking
After=network.target

# generate resolv.conf
#Wants=systemd-resolved.service
#After=systemd-resolved.service

[Service]
Type=oneshot
EnvironmentFile=/run/ignition.env
ExecStart=/usr/bin/ignition --root=/sysroot --oem=${OEM_ID} --stage=files --log-to-stdout
