# Older bootloaders pass 'ro' on the kernel command line, which overrides
# the 'rootflags=rw' argument built into the kernel image.

[Unit]
Description=Remount Root File System for Ignition
DefaultDependencies=no
After=sysroot.mount
#Before=sysroot-usr.mount
ConditionPathIsReadWrite=!/sysroot
After=ostree-prepare-root.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mount -o remount,rw /sysroot
ExecStart=/bin/mount -o remount,rw /sysroot/var
