[Unit]
Description=Ignition (setup user config)
DefaultDependencies=false
Before=ignition-complete.target

Before=local-fs-pre.target
Before=ignition-disks.service
Before=ignition-files.service

# On diskful boots, ignition-generator adds Requires/After on
# dev-disk-by\x2dlabel-boot.device.

[Service]
Type=oneshot
RemainAfterExit=yes
# The MountFlags=slave is so the umount of /boot is guaranteed to happen
# /boot will only be mounted for the lifetime of the unit.
MountFlags=slave
ExecStart=/usr/sbin/ignition-setup-user
