[Unit]
DefaultDependencies=false
Before=initrd-switch-root.target

OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly

Requires=ignition-disks.service
After=ignition-disks.service

Requires=ignition-files.service
After=ignition-files.service
