[Unit]
Description=Ignition (disks)
DefaultDependencies=false

Requires=sysinit.target
After=sysinit.target

Requires=network.target
After=network.target

Before=remount-sysroot.service

[Service]
Type=oneshot
EnvironmentFile=/run/ignition.env
ExecStart=/usr/bin/ignition --root=/sysroot --oem=${OEM_ID} --stage=disks
