# This is a workaround to be used in conjunction with
# https://github.com/ostreedev/ostree/pull/1617.

# The proper long-term fix is to find and do the /var mount
# in the initramfs.

[Unit]
Description=Ask OSTree to mount /var in initramfs
DefaultDependencies=false
After=basic.target
Before=ostree-prepare-root.service
Before=ignition-complete.target
OnFailure=emergency.target
OnFailureJobMode=isolate

[Service]
Type=oneshot
ExecStart=/bin/mkdir -p /run/ostree
ExecStart=/bin/touch /run/ostree/initramfs-mount-var
RemainAfterExit=yes
