# Older bootloaders pass 'ro' on the kernel command line, which overrides
# the 'rootflags=rw' argument built into the kernel image.

[Unit]
Description=Remount /sysroot/var for Ignition
DefaultDependencies=no
After=sysroot.mount
ConditionPathIsReadWrite=!/sysroot/var
After=ignition-remount-sysroot.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mount -o remount,rw /sysroot/var
