[Unit]
Description=/sysroot/boot
DefaultDependencies=false

BindsTo=dev-disk-by\x2dlabel-EFI\x2dSYSTEM.device
After=dev-disk-by\x2dlabel-EFI\x2dSYSTEM.device

RequiresMountsFor=/sysroot

# Creates mountpoint
Requires=initrd-setup-root.service
After=initrd-setup-root.service

Conflicts=dracut-emergency.service emergency.service emergency.target
Conflicts=initrd-switch-root.target umount.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/mount /dev/disk/by-label/EFI-SYSTEM /sysroot/boot
ExecStop=/usr/sbin/retry-umount /sysroot/boot
