[Unit]
Description=/sysroot/boot

Requisite=initrd-root-fs.target
After=initrd-root-fs.target

Conflicts=dracut-emergency.service emergency.service emergency.target
Conflicts=initrd-switch-root.target

[Mount]
What=/dev/disk/by-label/EFI-SYSTEM
Where=/sysroot/boot
