[Unit]
Description=Oracle OCI Root Disk
DefaultDependencies=false

Before=basic.target

# setup networking
Wants=systemd-networkd.service
After=systemd-networkd.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/iscsistart -i iqn.2015-02.oracle.boot:instance -t iqn.2015-02.oracle.boot:uefi -a 169.254.0.2 -g 1
