[Unit]
Description=Network Cleanup
DefaultDependencies=false
RefuseManualStart=true
RefuseManualStop=true
# Oracle OCI accesses root over iSCSI, so we can't tear down the network
ConditionKernelCommandLine=!coreos.oem.id=oracle-oci

PartOf=systemd-networkd.service
Before=systemd-networkd.service

[Service]
RemainAfterExit=true
ExecStop=/usr/bin/ip addr flush up
ExecStop=/usr/bin/ip link set group default down

[Install]
WantedBy=systemd-networkd.service
