[Match]
KernelCommandLine=coreos.oem.id=oracle-oci

[Network]
DHCP=yes

[DHCP]
UseMTU=true
UseDomains=true
# Root is on iSCSI
CriticalConnection=true
