[Unit]
Description=Mark boot complete
Documentation=https://github.com/coreos/ignition
# Note that deriving from Container Linux, there is
# a tradition that coreos.first_boot=1 is used for PXE/diskless
# scenarios where it's *always* first boot, so we don't want
# to try to change `/boot` there.
ConditionKernelCommandLine=coreos.firstboot=detected
RequiresMountsFor=/boot

[Service]
Type=oneshot
# We should have only run if GRUB detected this file. Fail if we are unable to
# remove it, rather than risking rerunning Ignition at next boot.
ExecStart=/bin/rm /boot/coreos-firstboot

[Install]
WantedBy=multi-user.target
