[Unit]
Description=Generate new UUID for disk GPT %I
DefaultDependencies=no
Wants=local-fs-pre.target
Before=local-fs-pre.target systemd-fsck-root.service
Wants=systemd-udevd.service
After=systemd-udevd.service
Requires=%i.device
After=%i.device
Before=ignition-disks.service verity-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/cgpt repair %I
ExecStart=/usr/sbin/sgdisk --disk-guid=R %I
ExecStart=/usr/bin/udevadm settle
