[Unit]
Description=Generate new UUID for disk GPT %I
DefaultDependencies=no
Wants=local-fs-pre.target
Before=local-fs-pre.target
Wants=systemd-udevd.service
After=systemd-udevd.service
Requires=%i.device
After=%i.device

[Service]
Type=oneshot
ExecStart=/usr/sbin/sgdisk --disk-guid=R %I
ExecStart=/usr/bin/udevadm settle
