[Unit]
Description=Generate new UUID for disk GPT
DefaultDependencies=no
Wants=local-fs-pre.target
Before=local-fs-pre.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sgdisk --disk-guid=R /dev/disk/by-diskuuid/00000000-0000-0000-0000-000000000001
