[Unit]
Description=Generate new UUID for disk GPT
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/sbin/sgdisk --disk-guid=R /dev/disk/by-diskuuid/00000000-0000-0000-0000-000000000001
