[Unit]
Description=Root filesystem setup
DefaultDependencies=no
RequiresMountsFor=/sysroot/usr/share/oem
After=initrd-root-fs.target
Before=initrd-parse-etc.service

[Service]
Type=oneshot
ExecStart=/sbin/initrd-setup-root
