name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  test-build:
    name: test build
    strategy:
      matrix:
        go-version: [1.15.x, 1.16.x, 1.17.x]
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Install libblkid-dev
      run: sudo apt-get install libblkid-dev
    - name: Run tests
      run: ./test
    - name: Run linter
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.42.0
        args: -E=gofmt --timeout=30m0s
